<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="#">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="#">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'newspaper:index' %}">Home</a></li>
  <li class="list-group-item"><a href="#">All redactor</a></li>
  <li class="list-group-item"><a href="{% url 'newspaper:topics-list' %}">All topic</a></li>
  <li class="list-group-item"><a href="{% url 'newspaper:newspapers-list' %}">All newspaper</a></li>
</ul>
