{% extends "base.html" %}

{% block title %}
  <title>Newspaper List</title>
{% endblock %}

{% block content %}

  <h1>
    Newspaper List
    <a href="{% url 'newspaper:newspapers-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if newspaper_list %}
    <ul>

      {% for newspaper in newspaper_list %}
        <li>
        <p><a href="{% url 'newspaper:newspapers-detail' newspaper.id %}">{{ newspaper.title }}</a></p>

      {% endfor %}
      </li>
    </ul>
  {% else %}
    <p>There are no newspaper in newspaper agency</p>
  {% endif %}

{% endblock %}
