{% extends "base.html" %}

{% block title %}
  <title>Redactor List</title>
{% endblock %}



{% block content %}
  <h1>
    Redactor List
    <a href="{% url 'newspaper:redactors-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if redactor_list %}
    <ul>
      {% for redactor in redactor_list %}
        <li><a href="{% url 'newspaper:redactors-detail' redactor.id %}">
          {{ redactor.username }}:</a>({{ redactor.first_name }}
          {{ redactor.last_name }} - {{ redactor.years_of_experience }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no redactor in newspaper agency</p>
  {% endif %}
{% endblock %}
